.home{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "nav body";
}

.body{
    grid-area: body;
    background-color: var(--background);
}